body {
  color: #570000;
}
.allMessages {
 border-radius: 10px;
 font-family: Tahoma, Arial, sans-serif;
 font-size: 10pt;
 width: calc(95% - 20px);
 padding: 10px;
 margin: auto;
 margin-top: 5px;
 position: relative;
 border: solid 1px #000;
}
.allMessages:hover {
 border: solid 1px #570000;
}
.allMessages.pm {
  padding-top: 26px;
}
.allMessages.pm:before {
  content: "[Private Message]";
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 16px;
  padding: 5px;
  width: calc(100% - 10px);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 8pt;
  font-weight: bold;
  color: #570000;
}
.sent {
 border-radius: 5px 5px 0 5px;
 background-color: #333;
 color: #AAA;
}
.sent:after {
 content: " ";
 background-color: inherit;
 height: 10px;
 width: 10px;
 position: absolute;
 right: -5px;
 bottom: 5px;
 transform: rotateZ(45deg);
 border-radius: 0 2px 0 0;
}
.sent:hover:after {
 content: " ";
 right: -6px;
 bottom: 6px;
 border-right: solid 1px #570000;
 border-top: solid 1px #570000;
}
.recieved:after {
 content: " ";
 background-color: inherit;
 height: 10px;
 width: 10px;
 position: absolute;
 left: -5px;
 bottom: 5px;
 transform: rotateZ(45deg);
 border-radius: 0 0 0 2px;
}
.recieved:hover:after {
 content: " ";
 left: -6px;
 bottom: 6px;
 border-left: solid 1px #570000;
 border-bottom: solid 1px #570000;
}
.recieved {
 border-radius: 5px 5px 5px 0;
 background-color: #555;
 color: #b4b4b4;
}
blockquote {
 background-color: #777;
 color: #181818;
 border-color: #000;
}
#background {
 background-color: #111;
 scrollbar-color: #570000 #111;
 scrollbar-width: thin;
}
#input, #nameEntry {
 color: #AAA;
 background: #333;
 border: none;
 outline: none;
}
#input:empty::before {
 content: "Write a message...";
 color: #777;
}
.badge {
  display: none;
}
.senderInfo:has(.mod) , .senderInfo:has(.owner), .senderInfo:has(.beta) {
 text-decoration: underline;
 text-decoration-color: #AAA;
}
.senderInfo * {
 text-decoration: none;
}
.senderInfo {
 font-style: italic;
}
#timestamp {
 margin: 0;
 color: #555;
 font-size: 9pt;
 font-style: italic;
 margin-top: 3px;
}
#textInput {
 background-color: #111;
}
#top_banner {
 background: #570000;
 color: #FFF;
}
#loadMore {
 color: #8a8a8a;
}
#replyBanner {
  font-size: 10pt;
}
.ctxMenuOption {
  background-color: #333 !important;
  color: #570000;
  position: relative;
}
.ctxMenuOption:hover:after {
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  top: 0;
}
#ctxMenu {
  background-color: #555 !important;
}
.msgBody a {
  color: #570000;
} 
#emojiTray {
  background-color: #111;
  color: #AAA;
  border-color: #570000;
}
#settingsMenu {
  background-color: #111;
}
#save {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: solid 1px #570000;
  color: #570000;
  background-color: transparent;
  border-radius: 2px;
}
#save:hover {
  color: #111;
  background-color: #570000;
}
#settingsMenu hr {
  height: 2px;
  width: 100%;
  margin: auto;
  background-color: #570000;
  border: none;
}
#is_typing {
  background-color: rgba(0, 0, 0, 0.25);
  border: solid 1px #570000;
  height: 15px;
  border-radius: 8px;
  left: calc(50% - 15px);
}
#is_typing > span {
  background-color: #570000;
}
#ctxMenu